# Environments and secrets
.env
.env.local
.venv/
env/
venv/

# Python cache & build
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/

# Operating system files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
